<div class="row">
    <div class="col mt-5">
        <h1>Heroe <small>nombre del heroe</small></h1>
        <hr>
    </div>
</div>
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger"
                routerLink="/heroes">
            <i class="fa fa-arrow-left"></i>
            Volver
        </button>
    </div>
</div>
<div class="row animated fadeIn faster">
    <div class="col">
        <form>
            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text" name="firebaseId" class="form-control" disabled="disabled" placeholder="Firebase ID">
                <small class="form-text text-muted">Este es un campo autogenerado</small>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Nombre del heroe">
            </div>
            <div class="form-group">
                <label>Poder</label>
                <input type="text" name="poder" class="form-control" placeholder="Poder del heroe">
            </div>
            <div class="form-group">
                <label>Está vivo</label>
                <br>
                <button class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>
                <button class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>
                    Muerto
                </button>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary w-25" type="submit">
                    <i class="fas fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>