<div class="row">
    <div class="col mt-5">
        <h1>Listado de heroes</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col text-right mt-1">
        <button routerLink="/heroe/nuevo"
                class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Agregar
        </button>
    </div>
</div>
<div class="row">
    <div class="col mt-5">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Poder</th>
                    <th scope="col">Está vivo</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let heroe of heroes; let i = index">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ heroe.nombre }}</td>
                    <td>{{ heroe.poder }}</td>
                    <td>
                        <label *ngIf="heroe.vivo" class="badge badge-success">Vivo</label>
                        <label *ngIf="!heroe.vivo" class="badge badge-danger">Muerto</label>
                    </td>
                    <td>
                        <button [routerLink]="['/heroe', heroe.id]" class="btn btn-info mr-3"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Alerta cargando -->
<div class="alert alert-info text-center" role="alert">
    <h4 class="alert-heading mt-2">Cargando heroes</h4>
    <p>
        <i class="fas fa-sync-alt fa-spin fa-2x"></i>
    </p>
</div>
<!-- Alerta no hay registros -->
<div class="alert alert-warning text-center" role="alert">
    <h4 class="alert-heading mt-2">No existe ningún heroe</h4>
    <p>
        <i class="fas fa-exclamation-circle fa-2x"></i>
    </p>
</div>